<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-restful" version="0.0.3" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>RESTful</name>
    <js-module name="RESTful" src="www/RESTful.js">
        <clobbers target="cordova.plugins.RESTful" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="RESTful">
                <param name="android-package" value="cordova.plugin.restful.RESTful" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/RESTful.java" target-dir="src/cordova.plugin.restful" />
        <source-file src="src/android/android-async-http-1.4.9.jar" target-dir="libs/" />
        <source-file src="src/android/httpclient-4.4.1.2.jar" target-dir="libs/" />
    </platform>
</plugin>
